<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Addr Test Suite">
            <directory suffix=".php">./test</directory>
        </testsuite>
    </testsuites>


</phpunit>